


.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #000000, #000000);
  
}



  
  * {
    box-sizing: border-box;
  }
  
  .box {
    background: rgba(255, 255, 255, 0.7); /* 70% transparent white */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    border: 1px solid #0d0d0d;
    backdrop-filter: blur(5px); /* Slight blur effect */
}

  
  .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .btn {
    width: 100%;
    padding: 10px 20  px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .electrician {
    background-color: #1e88e5;
    border: 2px solid #1565c0;
  }
  
  .electrician:hover {
    background-color: #1565c0;
  }
  
  .carpenter {
    background-color: #f57c00;
    border: 2px solid #e65100;
  }
  
  .carpenter:hover {
    background-color: #e65100;
  }
  
  .plumber {
    background-color: #43a047;
    border: 2px solid #2e7d32;
  }
  
  .plumber:hover {
    background-color: #2e7d32;
  }
  .history {
    background-color: #00e68e;
    border: 2px solid #92e600;
  }
  
  .history:hover {
    background-color: #00f5f1;
  }
  
  .selection {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: medium;
    background: #fff176;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  